<a href="https://colab.research.google.com/github/linyuehzzz/census_privacy/blob/main/monroe_data_census.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

####**Add GEOID10 (block)**

In [9]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import pandas as pd
filename = 'monroe/sf1/monroe_P12G.csv'
data = pd.read_csv(filename)
data['STATE'] = data['STATE'].apply('{:0>2}'.format)
data['COUNTY'] = data['COUNTY'].apply('{:0>3}'.format)
data['TRACT'] = data['TRACT'].apply('{:0>6}'.format)
data['BLOCK'] = data['BLOCK'].apply('{:0>4}'.format)
data['GEOID10'] = data[['STATE', 'COUNTY', 'TRACT', 'BLOCK']].apply(lambda x: ''.join(x), axis=1)

data.to_csv(filename, index=False)
data.head()

/content/gdrive/My Drive/Colab Notebooks/census_privacy

  FILEID STUSAB  SUMLEV  ...  P012G048  P012G049          GEOID10
0  SF1ST     OH     101  ...         0         0  391119666002047
1  SF1ST     OH     101  ...         0         0  391119666002055
2  SF1ST     OH     101  ...         0         0  391119666002056
3  SF1ST     OH     101  ...         0         0  391119666002057
4  SF1ST     OH     101  ...         0         0  391119666002058

[5 rows x 60 columns]

####**Constraint variables (block + race + sex + age)**

P012A - G in SF1

In [13]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import pandas as pd
import numpy as np
import csv

tl = ["A", "B", "C", "D", "E", "F", "G"]
for a in tl:
    input = "monroe/sf1/monroe_P12" + a + ".csv"
    data = pd.read_csv(input)
    table = "P012" + a
    race = tl.index(a) + 1

    for sex in [1, 2]:
        o_id = (race - 1) * 2 + sex
        output = "monroe/microdata/by_race/monroe_md" + str(o_id) + ".csv"

        # male: table + "003" - table + "025"
        # female: table + "027" - table + "049"
        start = 3 if sex == 1 else 27    # 3 or 27

        with open(output, 'w', newline='') as csvfile:
            writer = csv.writer(csvfile, delimiter=',')
            writer.writerow(["GEOID10", "race", "sex", "age", "age_v"])
            for index, row in data.iterrows():
                GEOID10 = row["GEOID10"]
                # print(GEOID10)
                for k in range(start, start + 23):
                    age = k - 2 if sex == 1 else k - 26
                    col_name = table + str(k).zfill(3)
                    cnt = row[col_name]
                    for i in range(cnt):
                        if age == 1:
                            age_v = np.random.randint(0, 4, size=1)[0]
                        elif age == 2:
                            age_v = np.random.randint(5, 9, size=1)[0]
                        elif age == 3:
                            age_v = np.random.randint(10, 14, size=1)[0]
                        elif age == 4:
                            age_v = np.random.randint(15, 17, size=1)[0]
                        elif age == 5:
                            age_v = np.random.randint(18, 19, size=1)[0]
                        elif age == 6:
                            age_v = 20
                        elif age == 7:
                            age_v = 21
                        elif age == 8:
                            age_v = np.random.randint(22, 24, size=1)[0]
                        elif age == 9:
                            age_v = np.random.randint(25, 29, size=1)[0]
                        elif age == 10:
                            age_v = np.random.randint(30, 34, size=1)[0]
                        elif age == 11:
                            age_v = np.random.randint(35, 39, size=1)[0]
                        elif age == 12:
                            age_v = np.random.randint(40, 44, size=1)[0]
                        elif age == 13:
                            age_v = np.random.randint(45, 49, size=1)[0]
                        elif age == 14:
                            age_v = np.random.randint(50, 54, size=1)[0]
                        elif age == 15:
                            age_v = np.random.randint(55, 59, size=1)[0]
                        elif age == 16:
                            age_v = np.random.randint(60, 61, size=1)[0]
                        elif age == 17:
                            age_v = np.random.randint(62, 64, size=1)[0]
                        elif age == 18:
                            age_v = np.random.randint(65, 66, size=1)[0]
                        elif age == 19:
                            age_v = np.random.randint(67, 69, size=1)[0]
                        elif age == 20:
                            age_v = np.random.randint(70, 74, size=1)[0]
                        elif age == 21:
                            age_v = np.random.randint(75, 79, size=1)[0]
                        elif age == 22:
                            age_v = np.random.randint(80, 84, size=1)[0]
                        else:
                            age_v = np.random.randint(85, 100, size=1)[0]
                        writer.writerow([GEOID10, race, sex, age, age_v])

/content/gdrive/My Drive/Colab Notebooks/census_privacy

In [14]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
# merge all files into one
import pandas as pd
import glob
import os
  
joined_files = os.path.join("monroe/microdata/by_race", "monroe_md*.csv")
joined_list = glob.glob(joined_files)
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
df = df.sort_values(by=["GEOID10", "age"])
df.to_csv("monroe/microdata/monroe_people_all.csv", index=False)
df

/content/gdrive/My Drive/Colab Notebooks/census_privacy

               GEOID10  race  sex  age  age_v
6490   391119666001002     1    1    1      1
6491   391119666001002     1    1    3     11
13730  391119666001002     1    2    3     11
6492   391119666001002     1    1   10     33
13731  391119666001002     1    2   10     33
...                ...   ...  ...  ...    ...
3053   391119669004111     1    1    6     20
3054   391119669004111     1    1   12     42
3055   391119669004111     1    1   13     47
10269  391119669004111     1    2   13     46
10270  391119669004111     1    2   13     46

[14642 rows x 5 columns]